

.pager-section {
	background-image: url(https://via.placeholder.com/1920x952);
	padding: 213px 0 134px;
	.container {
		max-width: 1560px;
	}
	.social-links {
		padding-top: 0;
		li {
			a {
				font-size: 20px;
			}
		}
	}
	.breadcrumb-list {
		margin-bottom: 23px;
		li {
			display: inline-block;
			position: relative;
			padding: 0 28px;
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				&:before {
					display: none;
				}
			}
			&:before {
				content: '/';
				position: absolute;
				top: 0;
				left: 100%;
				font-size: 16px;
			}
			> a, > span {
				display: inline-block;
				color: rgba(255,255,255,0.50);
				font-size: 16px;
			}
			> span {
				color: #fff;
			}
		}
	}
	.page-title {
		color: #ffffff;
		font-size: 83px;
		font-weight: 700;
		line-height: 83px;
	}
}