
.team-section {
	.row {
		margin-bottom: -90px;
	}
	.team {
		margin-bottom: 90px;
		.team-thmb {
			img {
				filter: grayscale(1);
				@include transition(all 0.4s ease-in-out);
			}
		}
		&:hover {
			.team-thmb {
				img {
					filter: grayscale(0);
				}
			}	
			.team-info {
				opacity: 1;
				visibility: visible;
				width: 100%;
				.social-links {
					opacity: 1;
					visibility: visible;
					@include transform(translateY(0))
				}
			}
		}
		.team-info {
			background-color: #262626;
			padding: 29px 50px 39px;
			position: relative;
			width: calc(100% - 95px);
			overflow: hidden;
			@include transition(all 300ms linear 0s);
			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 8px;
				height: 100%;
				background-color: #f43930;
			}
			
			h3 {
				color: #ffffff;
				font-size: 30px;
				font-weight: 700;
				text-transform: capitalize;
				margin-bottom: 3px;
				&:hover a {
					color: #fff;
				}
			}
			> span {
				display: inline-block;
				color: rgb(255,255,255,0.40);
				font-size: 16px;
			}
		}
		.social-links {
			position: absolute;
			top: 23px;
			right: 40px;
			opacity: 0;
			visibility: hidden;
			@include transition(all 300ms linear 0s);
			@include transform(translateY(100%));
			li {
				display: block;
				margin-bottom: 13px;
				a {
					display: inline-block;
					color: #686868;
					font-size: 14px;
					&:hover {
						color: $primary-color;
					}
				}
			}
		}
	}
}